@import "tailwindcss";

:root {
  --color-white-100: #f1f1f1;
  --color-pink-400: #f44786;
  --color-pink-500: #ed1b76;
}

@theme {
  --color-white-100: var(--color-white-100);
  --color-pink-400: var(--color-pink-400);
  --color-pink-500: var(--color-pink-500);
  --cursor-size: 1rem;
}

html {
  scroll-behavior: smooth;
  /* cursor: none; */
}

#root {
  padding: 0;
  margin: 0;
  text-align: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;

  margin: 5rem;
  background-color: rgb(142, 159, 255);
  border-radius: 50px;
}

.squid-game-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 500dvh;
  background: #060606 url("/frontman.png") no-repeat center center fixed;
  background-size: cover;
}

.squid-game-container * {
  color: var(--color-white-100);
}

.squid-game-container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.squid-game-container .container .line {
  width: 100%;
  height: 8px;
  background-color: var(--color-white-100);
}

.squid-game-container .container .vertical-line {
  width: 8px;
  height: 100%;
  background-color: var(--color-white-100);
}

.squid-game-container .container .horizontal-line {
  width: 100%;
  height: 8px;
  background-color: var(--color-white-100);
}
